langchain
langchain-google-genai
langchain-community
langchain-chroma
langchain-text-splitters
langchain-experimental
scikit-learn
numpy
langgraph
chromadb
pdfplumber
pypdf
sentence-transformers
python-dotenv
pandas
streamlit
